body,html,#root{
    margin: 0px;
    background-color:yellowgreen ;
}
button{
    background-color:coral;
    width: 60px;
    height: 40px;
}
input{
    background-color:yellowgreen
}
.App{
    margin: 0px;
    display: grid;
    grid-template-columns: repeat(10,10vw);
    grid-template-rows: repeat(10,10vh);
}
#generalInfo{
    grid-row: 1 / 5;
    grid-column: 2 / 5;
}
#imagePp{
    grid-row: 1 / 5;
    grid-column: 6 / 9;
    height: 250px;
    width: 250px;
    margin: 50px;
}
#addEduContainer{
    grid-row: 6 / 9;
    grid-column: 2 / 5;
}
#addExpContainer{
    grid-row: 6 / 9;
    grid-column: 6  / 9;
}
form{
    display: flex;
    flex-direction: column;
}
form *{
    margin: 5px;
}
.editButton{
    visibility: hidden;
}
.InfoTab:hover > .editButton{
    visibility: visible;
}
.educationDiv , .experienceDiv{
    margin-top: 3px;
    margin-bottom: 3px;
    border: 1px solid blue;
    display: flex;
    flex-direction: row;
}
.educationDiv * , .experienceDiv *{
    margin: 15px;
}
#eduContainer , #expContainer{
    display: flex;
    flex-direction: column;
}
#addEduContainer:hover > .editButton{
    visibility: visible;
}
#addExpContainer:hover > .editButton{
    visibility: visible;
}
