form{
    display: flex;
    flex-direction: column;
    width: 200px;
}
form *{
    margin: 5px;
}
.editButton{
    visibility: hidden;
}
.InfoTab:hover > .editButton{
    visibility: visible;
}
.educationDiv{
    border: 1px solid black;
    display: flex;
    flex-direction: row;
}
.educationDiv *{
    margin: 15px;
}
#eduContainer{
    display: flex;
    flex-direction: column;
}
#addEduContainer:hover > .editButton{
    visibility: visible;
}


.experienceDiv{
    border: 1px solid black;
    display: flex;
    flex-direction: row;
}
.experienceDiv *{
    margin: 15px;
}
#expContainer{
    display: flex;
    flex-direction: column;
}
#addExpContainer:hover > .editButton{
    visibility: visible;
}