
body,html,#root{
    margin: 0px;
    background-color:black ;
}
#root{
    box-shadow: 20px 20px 20px 50px gray;
    background-color: gray;
    width: 80vw;
    height: 100vh;
    overflow: auto;
    max-height: 500vh;
    left: 10vw;
    position:absolute;
}
button{
    background-color:black;
    width: 60px;
    height: 40px;
    color: white;
}
input{
    background-color:yellowgreen
}
.App{
    margin: 0px;
    display: grid;
    grid-template-columns: repeat(10,10vw);
    grid-template-rows: repeat(10,10vh);
}
#generalInfo{
    grid-row: 1 / 5;
    grid-column: 2 / 5;
}
#imagePp{
    grid-row: 1 / 5;
    grid-column: 6 / 9;
    height: 250px;
    width: 250px;
    margin: 50px;
}
#addEduContainer{
    grid-row: 6 / 9;
    grid-column: 2 / 5;
}
#addExpContainer{
    grid-row: 6 / 9;
    grid-column: 6  / 9;
}
form{
    display: flex;
    flex-direction: column;
}
form *{
    margin: 5px;
}
.editButton{
    visibility: hidden;
}
.InfoTab:hover > .editButton{
    visibility: visible;
}
.educationDiv , .experienceDiv{
    margin-top: 3px;
    margin-bottom: 3px;
    border: 1px solid blue;
    display: grid;
    grid-template-columns: repeat(auto-fill,50px) ;
    grid-template-rows: repeat(auto-fill,50px);
}
.educationDiv * , .experienceDiv *{
    margin: 15px;
}
#eduContainer , #expContainer{
    display: flex;
    flex-direction: column;
}
#addEduContainer:hover > .editButton{
    visibility: visible;
}
#addExpContainer:hover > .editButton{
    visibility: visible;
}
.littlep{
    font-size: 0.75rem;
    grid-row: 4 / 5;
    grid-column: 1 / -1;
}
.bigp{
    font-size: 1.5rem;
    grid-row: 1 / 3;
    grid-column: 1 / -1;

}
.medp{
    grid-row: 3 / 4;
    grid-column: 1 / -1;
    font-size: 0.8rem;
}